// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 20rem;
//   margin-bottom: 5rem;
//   pointer-events: none;
//   filter: saturate(0);
// }

// .App-link {
//   color: #61dafb;
// }

.construction {
  display: flex;
  height: 100vh;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;

  .construction-txt span {
    font-weight: 100;
    font-family: $font-1;
    font-size: 3rem;
    margin: 0 auto;
  }
  .construction-txt {
    font-family: $font-2;
    font-weight: $regular;
    font-size: 3.5rem;
    color: white;
  }
  .bubble-container {
    overflow: hidden;
    .bubble {
      position: absolute;
      bottom: -10px;
      border-radius: 50px;
      border: 2px solid white;
      animation: pop infinite 2s linear;
    }
    .bubble-left {
      left: 100px;
    
    }
    .bubble-right {
      right: 200px;
    
    }
    .bubble-middle {
      right: 10px;
    
    }
    .bubble2s {
      animation: pop infinite 2s linear;
    
    }
    .bubble3s {
      animation: pop infinite 3s linear;
    
    }
    .bubble6s {
      animation: pop infinite 6s linear;
    
    }
    .bubble9s {
      animation: pop infinite 9s linear;
    }

  }
  .not-found {
    color: white;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes pop {
    0% {
      width: 0px;
      height: 0px;
      transform: translateY(0px);
    }
    25% {
      width: 20px;
      height: 20px;
      transform: translateY(-50px);
    }
    50% {
      width: 20px;
      height: 20px;
      transform: translateY(-100px);
    }
    75% {
      width: 40px;
      height: 40px;
      transform: translateY(-200px);
    }
    100% {
      width: 50px;
      height: 50px;
      transform: translateY(-800px);
    }
  }
  

}

