@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   
   h3 {
       font-size: 3rem;
   }
    .NavBar {
        nav {
            margin: 1rem;
            padding: 1rem;
        }

    }
    
    .header{
        height: min-content;

        .header-content{
            padding: 5rem 2rem;
            h1 {
                font-size:8rem;
            } 
            .text {
                width: 100%;
            }
            h2 {
                font-size: 3rem;
            } 
            p {
                font-size: 1.3rem;
            }
            button {
                padding: .5rem 1.7rem;
            }
        }
    }

    .work {
        padding: 3rem;
        button {
            padding: .2rem 3rem;
        }
        .work-cards { 
        }
    }
}