.header {
    background-image: url(../../header-bg.png);
    background-position: top;
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .header-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 15rem 10rem 0 10rem;
    }
    h1{
        font-size: 10rem;
        @extend %raleway-regular;
    }
    text{
        width: 50%;
        text-align: right;
    }
    .down-arrow {
        width: 5rem;
        margin: 1rem;
    }

    .arrow {
        padding: 2rem;
        border: 2px solid white;
        border-radius: 50%;
    }
}
