@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&family=Roboto:wght@300;400;700&display=swap");

$font-1: "Raleway";
$font-2: "Roboto";

$thin: 100;
$regular: 400;
$bold: 700;

%raleway-regular {
  font-family: $font-1;
  font-weight: 400;
}
%raleway-thin {
  font-weight: 100;
  font-family: $font-1;
}
%roboto-light {
  font-family: $font-2;
  font-weight: 300;
}
%roboto-bold {
  font-family: $font-2;
  font-weight: 700;
}
%roboto-regular {
  font-family: $font-2;
  font-weight: 400;
}

$color-1: rgb(12, 0, 32);
$color-2: rgb(61, 0, 31);
$color-3: white;
$color-4: rgb(0, 156, 177);

.btn-primary {
  transition: .3s;
  font-family: $font-1;
  font-weight: $regular;
  color: $color-1;
  padding: 1rem 4rem;
  background-color: white;
  border-radius: 5px;
  border: 1px solid white;
  &:hover {
    transition: .3s;
    background-color: transparent;  
    color: white;
  }


}
.btn-secondary {
  transition: .3s;
  font-family: $font-1;
  font-weight: $regular;
  color: white;
  padding: 1rem 4rem;
  background-color: $color-2;
  border-radius: 5px;
  border: 3px solid $color-2;
  &:hover {
    transition: .3s;
    background-color: transparent;  
    color: white;
  }


}
.btn-alt {
  transition: .3s;
  font-family: $font-1;
  font-weight: $regular;
  color: black;
  padding: 1rem 4rem;
  background-color: transparent;
  border-radius: 5px;
  border: 3px solid black;
  &:hover {
    transition: .3s;
    background-color: black;  
    color: white;
  }


}
.btn-alt-secondary {
  transition: .3s;
  font-family: $font-1;
  font-weight: $regular;
  color: white;
  padding: 1rem 4rem;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid white;
  &:hover {
    transition: .3s;
    background-color: white;  
    color: black;
  }


}

/* Set root font-size @10px equivalent */
html {
  font-size: 0.625em; /* fallback IE8+ */
  font-size: calc(
    1em * 0.625
  ); /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  scroll-behavior: smooth;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove focus for mouse users */
:focus:not(:focus-visible) {
  outline: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: #000;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make medias easier to work with */
img,
video,
audio {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Set cursor pointer */
label[for],
button,
input[type="submit"],
select {
  cursor: pointer;
}

/* Remove font style on address */
address {
  font-style: normal;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  white-space: nowrap;
}

/* Image replacement technique 2012 H5BP  - https://css-tricks.com/the-image-replacement-museum/ */

.ir {
  font: 0/0 a;
  color: transparent;
  border: 0;
  text-shadow: none;
}

/* Phone links active only under 36em (576px) */
a[href^="tel"] {
  white-space: nowrap;
  pointer-events: none;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 36em) {
  a[href^="tel"] {
    pointer-events: auto;
    text-decoration: underline;
  }
}

/* Print external URLs */
@media print {
  a {
    text-decoration: underline;
  }

  a[href]:not([href^="#"])::after {
    content: "(" attr(href) ")";
  }
}

body {
  background: linear-gradient(295deg,rgb(17, 11, 24) 70%, rgb(26, 8, 49));
}


